.Aboutme-container{
    width: 99%;
    height: 30em;
    background-color: rgb(235, 228, 228);
    margin: .5em;
}

.Aboutme-text{
    font-size: .8em;
}

.Aboutme-image{
    width: 30em;
    height: 25em;
    margin: 2.5em;
}

.Aboutme-info-container{
    width: 40%;
    margin: 2.5em;
    padding-top: 4em;
}
.Aboutme-info-container, .Aboutme-image-container{
    float: left;
}